td{
    height: 100px;
    width: 100px;
}
.ures{
    background-color: grey;
}
.fa{
    background-color: darkgreen;
}
body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.background-img {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    animation-name:img-ani;
    animation-duration: 2s;   
    animation-timing-function: ease-in;
  }             
  
  @keyframes img-ani {
    from{opacity:0;}
    to{opacity: 1;}
  }